<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css">
    <title>Parking System</title>
</head>
<body>
    <div class="container">
        <a href="/parkinginsert"><button class="btn btn-success form-control my-3">Add New Vehicle</button></a>
        <table class="table table-hover">
            <th></th>
            <tr>
                <th>S.No.</th>
                <th>Vehicle No.</th>
                <th>Vehicle Type</th>
                <th>Vehicle In Time</th>
                <th>Vehicle Out Time</th>
                <th>Charged Amount</th>
                <th>Vehicle Status</th>
                <th>Print</th>
            </tr>
            <%record.forEach((result,key)=>{%>
                <tr>
                    <td><%=key+1%></td>
                    <td><%=result.vno%></td>
                    <td><%=result.vtype%></td>
                    <td><%=result.vin%></td>
                    <td><%=result.vout%></td>
                    <td><%=result.vamount%></td>
                    <%if(result.vStatus == 'IN'){%>
                        <td><a href="/parkingstatusrecord/<%=result.id%>"><button class="btn btn-success"><%=result.vStatus%></button></a></td>
                    <%}else{%>
                       <td><a href="/parkingstatusrecord/<%=result.id%>"><button disabled ><%=result.vStatus%></button></a></td>
                    <%}%>
                    <!-- <%if(record.vStatus == 'IN'){%>
                        <td><a href="/print/<%-result.id%>"><button disabled>Way TO Print</button></a></td>
                    <%}else{%> -->
                        <td><a href="/print/<%-result.id%>"><button class="btn btn-primary">Way TO Print</button></a></td>     
                   <!-- <%}%> -->
                </tr>
            <%})%>
        </table>
        
    </div>
</body>
</html>